a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

.uppercase::first-letter {
  text-transform: uppercase;
}

.login-card {
  padding: 5rem;
  background: black;
  margin-top: 7rem;
  width: 700px;
}

.reset-card {
  padding: 3rem;
  background: black;
  margin-top: 10rem;
  width: 700px;
}

.green-button {
  background: green;
  border: green;
  border-radius: 10px;
}

.green-button:hover {
  background: rgb(2, 82, 2);
}
